* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: 700;
}

window {
    background-color: rgba(17, 17, 27, 0.72);
}

button {
    color: #cdd6f4;
    background-color: rgba(30, 30, 46, 0.88);
    border: 2px solid rgba(203, 166, 247, 0.28);
    border-radius: 24px;

    margin: 18px;
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: 72px;

    box-shadow: none;
    text-shadow: none;
}

button:hover {
    color: #1e1e2e;
    background-color: #cba6f7;
    border-color: #cba6f7;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
